
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>User Listing</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap -->
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

</head>
<body>
{% include "navbar.html" %}

<div class="container">
	<h2>Fetch Random Users</h2>


	<h5>This screen will fetch random users from https://randomuser.me (Max.5000 per request)</h5>
	<br/>

	Current unique users in database : <b>{{current_records}}</b>
	<hr/>

<div class="row">
	<div class="col-md-5">
<form class="form-inline" action="{% url 'fetch_random_data_api' %}" method="POST">{% csrf_token %}

    <input type="" readonly class="" id="usrcnt" value="Users to fetch">

    <label for="inputUserCount" class="sr-only">Max 5000</label>
    <input type="text" class="form-control" name = "inputUserCount" id="inputUserCount" placeholder="Max 5000" value="100">

  	<button type="submit" class="btn btn-primary mb-2">Fetch</button>
</form>
</div>


<form class="form-inline" action="{% url 'clear_database_api' %}" method="POST">{% csrf_token %}
  <button type="submit" class="btn btn-danger mb-2">Clear Database</button>
</form>

</div>





	</div>

{% load static %}
<link ref="stylesheet" type="text/css" href="{% static 'snackbar.min.css' %}" />
 <script src="{% static 'snackbar.min.js' %}"></script> 
  

  <div class="navbar navbar-default navbar-fixed-bottom">
  <script>
  	{% if toastMsg != "" %}
  	alert("{{toastMsg}}");

  	{% endif %}

</script>

</div>






  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script> 


 
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>


