  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">CRL Assignment</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="fetch_random_data_screen">Fetch Data</a></li>
      <li><a href="all_user_list">List All Users</a></li>
      <li><a href="search_users_screen">Search Users</a></li>
      <li></li>
      <li><a href="fetch_random_data_screen">APIs</a></li>
      <li><a href="all_user_list">Performance Analysis</a></li>
    </ul>
  </div>
</nav>