  <nav class="navbar navbar-default">
  <div >
    <div class="navbar-header">
      <a class="navbar-brand" href="/user_listing">CRL Assignment</a>
    </div>
    <ul class="nav navbar-nav">
      <li id ="home" ><a href="/user_listing">Home</a></li>
      <li id ="fetch_random_data_screen"><a href="fetch_random_data_screen">Fetch Data</a></li>
      <li id ="all_user_list"> <a href="all_user_list">List All Users</a></li>
      <li id ="search_users_screen"><a href="search_users_screen">Search Users</a></li>
      <li id ="api_screen"><a href="api_screen">APIs</a></li>
      <li id ="performance_screen"><a href="performance_screen">Performance Analysis</a></li>
     </ul>
     <ul class="nav navbar-nav" style="float:right;">
      <li id ="sidenote"><a href="#" data-toggle="modal" data-target="#ModalSidenote" >Side Note</a></li>

    </ul>
  </div>
</nav>




<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>


<div class="modal fade" id="ModalSidenote" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-body" id="">


<div class="col-lg-12 mb-4 mb-sm-5">
                <div class="card card-style1 border-0">
                    <div class="card-body p-1-9 p-sm-2-3 p-md-6 p-lg-7">
                        <div class="row align-items-center">
 
                         
                              <h3 id="" class="h3 text-white mb-0">Side Note</h3>
                              <ul>
                                <li>This project is developed in Django as required by assignment statement.</li>
                                <li>I had <u><b>zero</b></u> experience in Django prior to this assignment, so there might be some unsual observations, things definitely improve with the experience in the technology.</li>
                                <li>I am open to explore new technologies. &#128578;</li>

                              </ul>



                  
                        </div>
                    </div>
                </div>
            </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    
      </div>
    </div>
  </div>
</div>



{% block content %}

{% endblock %}